@import "../../../styles/fontSizes";
@import "../../../styles//colors";
@import "../../../styles/breakpoints";
.Carousel {
  max-width: 100%;
  margin: 2rem 0;

  > button {
    top: auto;
    bottom: -34px;
    z-index: 9;

    &:first-of-type {
      left: 15%;

      &::before {
        content: "\2039";
        color: $base-green;
        font-size: 3.3rem;
      }
    }

    &:last-of-type {
      right: 15%;

      &::before {
        content: "\203A";
        color: $base-green;
        font-size: 3.3rem;
      }
    }

    @include respond(tablet) {
      &:first-of-type {
        left: 38%;
      }

      &:last-of-type {
        right: 38%;
      }
    }

    @include respond(ldesktop) {
      &:first-of-type {
        left: 40%;
      }

      &:last-of-type {
        right: 40%;
      }
    }
  }

  ul {
    bottom: -50px;

    li {
      margin: 0 0.5rem;

      button:before {
        font-size: 20px;
      }
    }
  }
}

.Slide {
  padding-right: 0.7rem !important;
}

.Cover {
  height: 170px;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.BenefitsCard {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  min-height: 270px;

  @include respond(desktop) {
    max-width: 95%;
  }
}

.BenefitsInfo {
  padding: 0.8rem 2rem 0.3rem;

  p:last-of-type {
    font-size: $caption;
    margin-top: 0.25rem;
  }
}
