.Step::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 104px;
  height: 15px;
  z-index: 1;
  top: 20%;
  transform: translateX(130%);
}

.Step:nth-of-type(odd)::after {
  background-image: url(../../../assets/illustrations/arrow-1.png);
}

.Step:nth-of-type(even)::after {
  background-image: url(../../../assets/illustrations/arrow-2.png);
}

.Step:last-of-type::after {
  display: none;
}

@media (max-width: 768px) {
  .Step::after {
    display: none;
  }
}
