@import '../../../styles/colors';
@import '../../../styles/breakpoints';
@import '../../../styles/fontSizes';

.nav {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 4rem;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  transition: 350ms ease-out;
  background-color: #fff;

  .Logo {
    width: 10rem;
    height: 2rem;
    position: Relative;
    transition: 350ms ease-out;
  }

  ul {
    display: none;
    align-items: center;

    li {
      margin: 0 0.7rem;

      a {
        transition: 350ms ease-out;
        font-size: 0.9rem;

        &:hover,
        &:focus {
          color: lighten($color: $text-body, $amount: 30);
        }
      }
    }
  }

  @include respond(tablet) {
    height: 6rem;

    ul {
      display: flex;
    }
  }

  @include respond(desktop) {
    li {
      margin: 0 1rem;
    }
  }
}

.navDown {
  transform: translate3d(0, -100%, 0);
}

.navUp {
  box-shadow: 4px 4px 15px rgba(16, 80, 82, 0.1);
  height: 4rem;

  .Logo {
    width: 9rem;
  }

  a {
    font-size: 0.95rem;
  }

  @include respond(tablet) {
    height: 5rem;

    img {
      width: 11rem;
    }
  }
}

.navButtons {
  display: none;
  align-items: center;
  flex-wrap: wrap;

  a,
  button {
    border: 2px solid $button-main;
    padding: 0.6rem 1.2rem;
    background-color: $button-main;
    color: #fff;
    border-radius: 6px;
    transition: 200ms ease-out;
    font-size: $caption;

    &:hover,
    &:focus {
      background-color: $button-hover;
      border-color: $button-hover;
      color: #fff;
    }
  }

  a {
    background-color: transparent;
    color: $text-body;
  }

  @include respond(tablet) {
    display: flex;
  }
}

.mobileNav {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  position: fixed;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 100;
  padding: 10px 25px;
  text-align: center;
  transition: 500ms ease-in-out;
  transform: translateX(-100%);

  h3 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  ul {
    margin: 20px 0;
  }

  li {
    margin: 5px 0;
  }

  a {
    color: $base-green;
    text-decoration: underline;
  }

  .schedule {
    margin: 10px 0;
  }

  .navButtons {
    display: flex;
    margin: 25px 0;

    a {
      width: 100%;
      color: $text-body;
      text-decoration: none;
      margin: 10px 0;

      &:first-of-type {
        background-color: transparent;
      }

      &:last-of-type {
        background-color: $button-main;
      }

      &:hover,
      &:focus {
        background-color: darken($color: $button-main, $amount: 15);
      }
    }
  }

  @include respond(tablet) {
    display: none;
  }
}

.openedNav {
  transform: translateX(0);
}

.mobileNavButton {
  display: inline-block;
  width: 30px;
  height: 23px;
  position: relative;

  &:focus {
    outline: 0;
  }

  span {
    background-color: $base-green;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    transition: 350ms ease-in-out;

    &:first-of-type {
      top: 0;
      right: 0;
    }

    &:nth-of-type(2) {
      top: 43%;
      width: 65%;
      right: 0;
    }

    &:last-of-type {
      bottom: 0;
      right: 0;
    }
  }

  @include respond(tablet) {
    display: none;
  }
}

.openedNavButton {
  span:first-of-type {
    transform: rotate(45deg);
    top: 10px;
  }

  span:nth-of-type(2) {
    opacity: 0;
  }

  span:last-of-type {
    transform: rotate(-45deg);
    bottom: 10px;
  }
}
