.bannerBg::before {
  background: rgba(243, 244, 246) url(../../../assets/illustrations/city-bg.webp) no-repeat bottom center;
  background-size: 90%;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
  animation: fadeIn 0.7s ease-in-out 0.7s forwards;
}

@media (width < 768px) {
  .bannerBg::before {
    background-size: 100%;
  }
}

.superKashImg {
  width: 500px;
  height: 500px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
