@import "../../../styles/breakpoints";

.BannerCard {
  width: 100%;
  position: relative;
  display: block;
  cursor: pointer;
  object-fit: contain;
  margin-right: 0.5rem;
  min-height: 8rem;

  img {
    width: 100%;
  }

  @include respond(desktop) {
    min-height: 10rem;
  }
}

.BannerSlider {
  min-height: 8rem;

  @include respond(desktop) {
    min-height: 10rem;
  }
}
