@use 'sass:math';
@import './colors';
@import './breakpoints';
@import './fontSizes';

.PromotionsWrapper {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px 25px;
  margin-top: 2rem;
}

.Title {
  color: $text-title;
  font-size: math.div($title, 2);
  font-weight: 700;

  @include respond(tablet) {
    font-size: math.div($title, 1.5);
  }

  @include respond(desktop) {
    font-size: math.div($title, 1.25);
  }
}

.Subtitle {
  font-size: math.div($subtitle, 1.8);
  line-height: 1.5;
  width: auto;
  margin: 0 auto;

  @include respond(tablet) {
    font-size: math.div($subtitle, 1.6);
    margin-bottom: 1rem;
  }
}
