@import './colors';

.questionWrapper {
  margin: 15px;

  h3 {
    font-size: 1.4rem;
    color: $base-green;
    margin-bottom: 10px;
  }

  a {
    color: $base-green;
    font-weight: bold;
  }
}
