@use "sass:math";
@import "./colors";
@import "./breakpoints";
@import "./fontSizes";

.questions {
  min-height: 80vh;

  @include respond(tablet) {
    padding-bottom: 0;
    background-size: 500px;
    background-position: 90% 80%;
  }
}

.questionWrapper {
  margin: 15px;

  h2 {
    margin-bottom: 10px;
  }

  a {
    color: $base-green;
    font-weight: bold;
  }

  ul,
  ol {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }
}

.Title {
  color: $text-title;
  font-size: math.div($title, 2);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  text-align: center;

  @include respond(tablet) {
    font-size: math.div($title, 1.5);
    margin-bottom: 2.5rem;
  }

  @include respond(desktop) {
    font-size: math.div($title, 1.25);
  }
}

.Subtitle {
  color: $text-title;
  font-size: math.div($subtitle, 1.8);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.5rem;

  @include respond(tablet) {
    font-size: math.div($subtitle, 1.5);
  }

  @include respond(desktop) {
    font-size: math.div($subtitle, 1.25);
  }
}

.QuestionsBg {
  position: relative;
  height: 300px;
  width: 100%;
}
