@import './colors';

.questions {
  background: url('/images/bg/faq.svg');
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 20rem;

  @media (min-width: 996px) {
    padding-bottom: 0;
    background-size: 500px;
    background-position: 90% bottom;
  }
}

.questionWrapper {
  margin: 15px;

  h3 {
    font-size: 1.4rem;
    color: $base-green;
    margin-bottom: 10px;
  }

  a {
    color: $base-green;
    font-weight: bold;
  }
}
