@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap');

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #676767;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.base-green {
  color: #0d8284;
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (min-width: 1140px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

b {
  color: #0d8284;
  font-weight: bold;
}

.section-wrapper {
  margin-top: 4rem;
}

.section-wrapper h1,
.section-wrapper h2 {
  color: #0d8284;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.2;
}

.section-wrapper h1 {
  font-size: 2.4rem;
}

.section-wrapper h3 {
  font-size: 1.15rem;
  font-weight: 700;
}

.section-wrapper p {
  font-size: 1.1rem;
}

@media screen and (min-width: 996px) {
  .section-wrapper h1 {
    font-size: 3rem;
  }

  .section-wrapper h2 {
    font-size: 2.2rem;
  }

  .section-wrapper h3 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .section-wrapper {
    margin-top: 2rem;
  }

  .section-wrapper h1 {
    font-size: 4rem;
  }

  .section-wrapper h2 {
    font-size: 3rem;
  }

  .section-wrapper h3 {
    font-size: 1.3rem;
  }
}

.section-wrapper hr {
  border-color: #0d8284;
  max-width: 50%;
}

.section-wrapper b {
  color: #0d8284;
  font-weight: bold;
}

.link {
  color: #0d8284;
}

.sent-msg {
  color: #0d8284;
  margin-top: 7px;
  font-size: 0.9rem;
}

.error-msg {
  color: #ff4b55;
  font-size: 0.9rem;
  margin-top: 7px;
}

/* ACCORDION */

.accordion__button {
  color: #0d8284;
  border-bottom: 1px solid #0d8284;
  display: inline-block;
  margin: 5px 0 7px;
}

.accordion__panel {
  padding: 5px 0 10px;
  border-bottom: 2px solid #0d8284;
  margin-bottom: 15px;
}

._1bpcM {
  position: fixed !important;
}
