@use "sass:math";
@import "./colors";
@import "./fontSizes";
@import "./breakpoints";

.CalculatorSection {
  @include respond(tablet) {
    background: url("/images/bg/city.svg");
    background-size: 70%;
    background-position: center 100%;
    background-repeat: no-repeat;
    max-height: 75vh;
    margin-top: 3rem;
  }
}

.TitleWrapper {
  padding: 0 1rem;
  justify-self: center;

  h1 {
    font-weight: 700;
    color: $text-title;
  }

  h2 {
    color: $text-title;
    font-size: math.div($title, 2.1);
    font-weight: 700;
    line-height: 1.2;
    margin: 0.5rem 0 1rem;
  }

  p {
    font-weight: 500;
  }

  svg {
    color: $text-title;
  }

  @include respond(tablet) {
    h2 {
      font-size: math.div($title, 1.5);
    }
  }

  @include respond(desktop) {
    h2 {
      font-size: $title;
    }

    p {
      font-size: math.div($info-text, 1.1);
    }
  }
}

.CalculatorWrapper {
  margin-top: 2rem;
  text-align: center;
  padding: 1.75rem;
  max-width: 26rem;
  width: 100%;
  justify-self: center;

  p {
    color: $text-title;
  }

  @include respond(tablet) {
    justify-self: flex-end;
    max-width: 28rem;
    padding: 2rem;
    margin-top: 0;
  }
}

.SuperkashWrapper {
  position: relative;
  top: 70px;
  z-index: 0;
  width: 100%;
  height: 205px;

  @include respond(tablet) {
    width: 500px;
    height: 280px;
    top: -120px;
  }

  @include respond(desktop) {
    width: 545px;
    height: 330px;
    top: -130px;
  }
}

.BanksWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  position: relative;
  top: 45px;
  z-index: 1;

  @include respond(tablet) {
    top: -150px;
  }

  @include respond(desktop) {
    top: -190px;
  }
}

.BankCard {
  margin-bottom: 1.3rem;
  padding: 1rem 1.5rem;
  max-width: 650px;
  min-height: 130px;

  @include respond(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.BankInfoCircle {
  padding: 0.8rem;
  background-color: lighten($color: $tertiary-green, $amount: 33);
  border: 1px solid $base-green;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;

  .BankInfoIcon {
    z-index: 1;
  }
}

.BanksInfoTitle {
  color: $text-title;
}

.BanksInfoImageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 35%;
}

.UsersSection {
  background: rgb(32, 162, 165);
  background: linear-gradient(90deg, rgba(32, 162, 165, 0.9) 0%, rgba(103, 190, 159, 0.9) 100%), url("/images/bg/texture.png") 50%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;

  @include respond(desktop) {
    background: linear-gradient(90deg, rgba(32, 162, 165, 0.9) 0%, rgba(103, 190, 159, 0.9) 100%), url("/images/bg/texture.png") 30%;
    background-position: 100% 0;
    background-repeat: no-repeat;
  }
}

.UsersWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.UserInfoWrapper {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  line-height: 1.4;
}

.UserInfo {
  font-weight: 700;
  font-size: $info-text;

  @include respond(desktop) {
    font-size: math.div($subtitle, 1.1);
  }
}

.Title {
  color: $text-title;
  font-size: math.div($title, 2);
  font-weight: 700;

  @include respond(tablet) {
    font-size: math.div($title, 1.5);
  }

  @include respond(desktop) {
    font-size: math.div($title, 1.25);
  }
}

.Subtitle {
  font-size: math.div($subtitle, 1.8);
  line-height: 1.5;
  width: 18rem;
  margin: 0 auto;

  @include respond(tablet) {
    font-size: math.div($subtitle, 1.6);
    margin-bottom: 1rem;

    width: 30rem;
  }
}

.StepsSection {
  background: url("/images/bg/steps.svg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 100%;
  padding-bottom: 2rem;

  @include respond(tablet) {
    background-size: 100%;
  }
}

.StepsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.StepCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0.5rem 0;
  padding: 1rem;
  min-height: 200px;

  @include respond(desktop) {
    min-height: 360px;
    max-width: 290px;
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
}

.Step {
  color: $text-title;
  font-weight: 700;
  display: none;
  font-size: math.div($info-text, 1.3);

  @include respond(desktop) {
    display: block;
  }
}

.StepImage {
  width: 200px;
  height: 150px;
  margin-right: 1rem;
  position: relative;

  @include respond(desktop) {
    margin: 0;
    width: 175px;
    height: 140px;
  }
}

.StepInfo {
  span,
  h3 {
    color: $text-title;
  }

  p {
    font-size: $caption;
  }

  span {
    font-size: math.div($caption, 1.1);
  }

  h3 {
    font-weight: 700;
  }

  @include respond(desktop) {
    span {
      display: none;
    }
  }
}

.AppWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(desktop) {
    flex-direction: row;
    min-height: 75vh;
  }
}

.AppImage {
  width: 350px;
  height: 350px;
  position: relative;

  @include respond(desktop) {
    width: 700px;
    height: 700px;
  }
}

.AppInfoWrapper {
  font-size: $caption;

  h2 {
    color: $text-title;
    font-size: math.div($subtitle, 1.2);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  ul {
    margin: 1rem 0;

    li {
      display: flex;
      align-items: flex-start;
      margin: 0.5rem 0;
    }

    svg {
      color: $base-green;
    }
  }

  @include respond(tablet) {
    font-size: $body;
    padding: 0.5rem 4rem 0 1rem;

    ul {
      margin-top: 1.5rem;

      li {
        margin-top: 1rem;
      }
    }
  }
}

.AppDownloadIcon {
  width: 150px;
  margin: 0 0.5rem;
  position: relative;
  display: block;
  z-index: 1;
  height: 100px;
}
