@import "./colors";

.PromotionsWrapper {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: auto auto auto;
}

.PromotionCard {
  width: 400px;
  min-height: 600px;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  margin: 1.3rem;

  .Cover {
    height: 180px;
    position: relative;
    width: 100%;
  }

  .Info {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    p {
      font-size: 1rem;
    }

    h2 {
      font-size: 2rem;
    }

    .Actions {
      display: grid;
      justify-items: center;
      margin: auto;
      padding-top: 1rem;
    }
  }

  .Date {
    margin: 0 0 0.3rem;
    color: $base-green;
    font-size: 0.95rem;
  }

  a {
    padding: 0.8rem 1rem;
    border-radius: 10px;
    background-color: $button-yellow;
    transition: 200ms ease-out;
    margin: 0 !important;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;

    &:hover,
    &:focus {
      background-color: darken($color: $button-yellow, $amount: 15);
    }
  }

  button {
    margin-top: 1rem;
    color: $base-green;
    text-decoration: underline;
  }

  @media screen and (min-width: 996px) {
    .Cover {
      height: 220px;
    }
  }
}
