@use "sass:math";
@import "./colors";
@import "./breakpoints";
@import "./fontSizes";

.Title {
  color: $text-title;
  font-size: math.div($title, 2);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.5rem;

  @include respond(tablet) {
    font-size: math.div($title, 1.5);
  }

  @include respond(desktop) {
    font-size: math.div($title, 1.25);
  }
}

.Subtitle {
  font-size: $body;
  line-height: 1.5;
  max-width: 30rem;
  margin: 0 auto;

  @include respond(tablet) {
    font-size: math.div($subtitle, 1.7);
    margin-bottom: 1rem;

    max-width: 60rem;
  }
}
