@import "../../../styles/colors";
@import "../../../styles/fontSizes";

.button {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  transition: 250ms ease-out;
  font-weight: 500;
  font-size: $body;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}

.primary {
  background-color: $button-main;
  color: #fff;
}

.secondary {
  background-color: $button-secondary;
  color: $text-body;
}
