@import '../../../styles/colors';
@import '../../../styles/fontSizes';

.Button {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  background-color: $button-main;
  color: #fff;
  transition: 250ms ease-out;
  font-weight: 700;
  font-size: $body;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
